name: Build and publish main to Github Pages
on:
  # schedule:
  #   - cron: '*/10 * * * *'
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  pages: write
  contents: write

jobs:
  call-requirement-script:
    if: github.actor != 'requirements-updater[bot]'
    uses: ProjektAdler/Documentation/.github/workflows/requirementScript.yml@main
    secrets: inherit

  call-build:
    if: github.actor != 'requirements-updater[bot]'
    needs: call-requirement-script
    uses: ProjektAdler/Documentation/.github/workflows/build.yml@main
    secrets: inherit

  deploy:
    if: github.actor != 'requirements-updater[bot]'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: call-build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docs

      - name: Unzip artifact
        run: unzip -O UTF-8 -qq ${{ vars.WRITERSIDE_WORKFLOW_ARTIFACT }} -d dir

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dir

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
