name: Build
on:
  push:
    branches:
      - blabliblub
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Writerside docs using Docker
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: ${{ vars.WRITERSIDE_WORKFLOW_INSTANCE }}
          artifact: ${{ vars.WRITERSIDE_WORKFLOW_ARTIFACT }}
          docker-version: ${{ vars.WRITERSIDE_WORKFLOW_DOCKER_VERSION }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: |
            artifacts/${{ vars.WRITERSIDE_WORKFLOW_ARTIFACT }}
          retention-days: 7
